/* Nav Rule */
nav {
    background-color: #333;
    padding: 10px;
}

/* Nav Anchor Rule */
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 20px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
  }
main{
    max-width: 840px;
}

body {
    background-color: aqua;
}

.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:30%;
}
/* Heading 1 Rule */
h1 {
    font-size: 2em;
    color:white;
    text-align: center;
    background-color: #333;

}
h2 {
    color: white;
    text-align: center;
    background-color: #333;
}

/* Image Rule */
img {
    max-width: 100%;
    height: auto;
}
p {
    color: white;
    text-align: center;
    background-color: #333;
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
  }