/* Nav Rule */
nav {
    background-color: #333;
    padding: 10px;
}

/* Nav Anchor Rule */
nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

/* Heading 1 Rule */
h1 {
    font-size: 2em;
    color: #444;
    text-align: center;
}

/* Image Rule */
img {
    max-width: 100%;
    height: auto;
}
